@font-face {
    font-family: "Star Medina";
    src: url("//go.cahoots.pl/syria/font/StarMedina.tff");
}

h1, h2, h3, h4 {
    font-family: "Star Medina", Impact, sans-serif;
    font-weight: normal;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
